  <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Розсилка новин</h3>

  <p class="editContent" >Будучи підписаним до нашої електронної розсилки, ви отримаєте всі останні новини і оновлення від нас.</p>
  <form action="{% url 'contact' %}" method="post" class="w3layouts-newsletter">
      {% csrf_token %}
      {{ contact_form }}
      <button class="btn1 btn" ><span class="fa fa-paper-plane-o" aria-hidden="true" ></span></button>

  </form>