{% extends "account/base.html" %}

{% load i18n %}
{% load account  %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>{% trans "Sign In" %}</h1>

            {% if socialaccount_providers %}
                <p>{% blocktrans with site.name as site_name %}Будь ласка, увійдіть за допомогою одного
                    ваших існуючих облікових записів. Aбо, <a href="{{ signup_url }}">зареєструйтеся</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                <div class="socialaccount_ballot">
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                    <div class="login-or">{% trans 'or' %}</div>
                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
                <p>{% blocktrans %}Якщо ви ще не створили обліковий запис, будь ласка
                    <a href="{{ signup_url }}">спочатку</a> зареєструйтеся.{% endblocktrans %}</p>
            {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}

    <div class="mb-3">
        <label for="id_login" class="form-label">{% trans "Логiн" %}</label>
        <input type="text" class="form-control" id="id_login" name="{{ form.login.name }}"
               value="" aria-describedby="emailHelp">
{#        value="{{ form.login.value }}" aria-describedby="emailHelp">#}
{#        <div id="emailHelp" class="form-text">{% trans "We'll never share your email with anyone else." %}</div>#}
    </div>

    <div class="mb-3">
        <label for="id_password" class="form-label">{% trans "Password" %}</label>
        <input type="password" class="form-control" id="id_password" name="{{ form.password.name }}">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="id_remember" name="{{ form.remember.name }}">
        <label class="form-check-label" for="id_remember">{% trans "Запам'ятай мене" %}</label>
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Увiйти" %}</button>

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

    <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
 </form>
        </div>
    </div>

{% endblock %}
