{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% load widget_tweaks %}

            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">{% trans "Username" %}</label>
                {{ form.username|add_class:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">{% trans "Email" %}</label>
                {{ form.email|add_class:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="{{ form.password1.id_for_label }}" class="form-label">{% trans "Пароль" %}</label>
                {{ form.password1|add_class:"form-control" }}
                <small class="form-text text-muted">
                    {% trans "Пароль не може бути надто схожим на іншу особисту інформацію." %}
                    <br>{% trans "Ваш пароль повинен містити як мінімум 8 символів." %}
                    <br>{% trans "Пароль не може бути одним із дуже поширених." %}
                    <br>{% trans "Пароль не може складається лише із цифр." %}
                </small>
            </div>

            <div class="mb-3">
                <label for="{{ form.password2.id_for_label }}" class="form-label">{% trans "Пiдтверження паролю" %}</label>
                {{ form.password2|add_class:"form-control" }}
            </div>


            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
</div>

{% endblock %}
