{% extends 'movies/block/base.html' %}
{% load static %}
{% block titleText %}Детально: {{ actor.name }}{% endblock %}
{% block bannerimg %}bg1{% endblock %}
{% block container %}
            <div class="container py-md-3">
 {% endblock %}
 {% block sidebar %}
            <div class="side-bar col-lg-4">
 {% endblock %}

{% block content %}
<div class="left-ads-display col-lg-8">
    <div class="row">
        <div class="desc1-left col-md-6 mb-md-5">
            <img src="{{ actor.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="desc1-right col-md-6 pl-lg-4">
            <h3 class="editContent" style="outline: none; cursor: inherit;">
                {{ movie.title }}
            </h3>
            <h5 class="editContent"></h5>
            <ul>
                <li>
                    <span>
                        <h3 class="shop-sing editContent">
                           {{ actor.name }}
                        </h3>
                    </span>
                </li>
                <li><span><b>Вiк:</b> {{ actor.age }} рокiв</span></li>
            </ul>
        </div>
            <hr>

        <div class="col-md-12">
            <!-- Режисер -->
            {% if actor.film_director.all.count != 0 %}
                <h4 class="editContent"><b>Режисер у фiльмах:</b></h4>
               <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for movie in actor.film_director.all %}
                        <div class="col-md-3">
                            <div class="card h-100" >
                              <img src="{{ movie.poster.url }}" class=" img-fluid rounded-start" style=" max-height: 250px; overflow: hidden;" alt="{{ movie.title }}">
                              <div class="card-body">
                                <h5 class="text-dark">
                                    <a href="{{ movie.get_absolute_url }} " class="text-decoration-none text-dark">
                                        {{ movie.title }}
                                    </a>
                                </h5>
                              </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Актер -->
            {% if actor.film_actor.all.count != 0 %}
                <h4 class="editContent"><b>Актор у фiльмах:</b></h4>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for movie in actor.film_actor.all %}
                        <div class="col-md-3">
                            <div class="card h-100" >
                              <img src="{{ movie.poster.url }}" class=" img-fluid rounded-start" style=" max-height: 250px; overflow: hidden;" alt="{{ movie.title }}">
                              <div class="card-body">
                                <h5 class="text-dark">
                                    <a href="{{ movie.get_absolute_url }} " class="text-decoration-none text-dark">
                                        {{ movie.title }}
                                    </a>
                                </h5>
                              </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row sub-para-w3layouts mt-5">
        <h3 class="shop-sing editContent">
            Про  {{ actor.name }}
        </h3>
        <p class="editContent" >
            {{ actor.description|safe }}
        </p>
    </div>
</div>

{% endblock %}
