<!DOCTYPE html>
{% load static recaptcha3 %}
<html lang="ru">
<head>
    <title>{% block titleText %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'movies/block/head.html' %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
</head>

<body>
    <div id="page" class="page">
     <div class="main-banner bg {% block bannerimg %}{% endblock %}" id="home" >
        {% include 'movies/block/mainBanner.html' %}
     </div>

        <ol class="breadcrumb editContent">
            <li class="breadcrumb-item">
                <a href="index.html" class="editContent">Home</a>
            </li>
            <li class="breadcrumb-item active editContent">Single Page</li>
        </ol>

{#     <section class="ab-info-main py-md-5 py-4 editContent"#}
{#    style="padding-left: 3rem; padding-right: 3rem;">#}
        <div class="container pb-5 pt-2">
{#            <div class="row">#}
        {% block content %}
        {% endblock %}
{#              </div>#}
        </div>
{#    </section>#}

    </div>
{% include 'movies/block/footer.html' %}
{#    <script src="{% static 'js/script.js' %}"></script>#}
{#    <script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>#}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<script>

    const rating = document.querySelector('form[name=rating]');

rating.addEventListener("change", function(event){
    let data = new FormData(this);
    fetch(`${this.action}`,{
        method: "POST",
        body: data
    })
        .then(response => alert('Рейтинг встановлено'))
        .catch(error => alert('Помилка'))
})

</script>


</body>
</html>