{% extends 'movies/block/base.html' %}
{% load static %}
{% block titleText %}Детально: {{ movie.title }}{% endblock %}
{% block bannerimg %}bg1{% endblock %}
{% block container %}
            <div class="container py-md-3">
 {% endblock %}
 {% block sidebar %}
            <div class="side-bar col-lg-4">
 {% endblock %}

{% block content %}
                <div class="left-ads-display col-lg-8">
                    <div class="row">
                        <div class="desc1-left col-md-6">
                            <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                        </div>
                        <div class="desc1-right col-md-6 pl-lg-4">
                            <h2 class="editContent">{{ movie.title }}</h2>
                            <h5 class="editContent"></h5>
                            <ul>
                                <li style="list-style: none"><span><b>Год:</b> {{ movie.year }}</span></li>
                                <li style="list-style: none"><span><b>Страна:</b> {{ movie.country }}</span>
                                </li>
                                <li style="list-style: none"><span><b>Слоган:</b> «{{ movie.tagline }}»</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Режиссер:</b>
                                        {% for director in movie.directors.all %}
                                       <a href="{{ director.get_absolute_url}}" >
                                            {{ director.name }}
                                       </a>
                                        {% endfor %}
                                    </span></li>
                                <li style="list-style: none"><span><b>Актеры:</b>
                                {% for actor in movie.actors.all %}
                                        <a href="{{ actor.get_absolute_url}}" >
                                            {{ actor.name }}
                                        </a>
                                        {% endfor %}
                                </span></li>
                                <li style="list-style: none"><span><b>Жанр:</b>
                                    {% for genre in movie.genres.all %}
                                        {{ genre.name }}
                                        {% endfor %}</span>
                                </li>
                                <li style="list-style: none"><span><b>Премьера в мире:</b> {{ movie.world_premiere }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Бюджет:</b> ${{ movie.budget }}</span></li>
                                <li style="list-style: none">
                                    <span><b>Сборы в США:</b> ${{ movie.fees_in_usa }}</span></li>
                                <li style="list-style: none"><span><b>Сборы в мире:</b> ${{ movie.fees_in_world }}</span>
                                </li>
                                <li style="list-style: none">
                                <hr>
                                    <form action="{% url 'add_rating' %}" method="post" name="rating">
                                    <b>Рейтинг:</b>
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ movie.id }}" name="movie">
                                    <div class="rating">
                                        {% for k, v in star_form.fields.star.choices %}
                                            {% if v <= average_rating %}
                                                <input id="rating{{ v }}" type="radio" name="star" value="{{ v }}" checked>
                                                <label for="rating{{ v }}" class="star-on"></label>
                                            {% else %}
                                                <input id="rating{{ v }}" type="radio" name="star" value="{{ v }}">
                                                <label for="rating{{ v }}" class="star-off"></label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <span class="editContent">{{ average_rating|default:"5.0" }}</span>
                                </form>
                                </li>
                            </ul>
                        <hr>
                                <div class="share-desc">
                                    <div class="share">
                                        <h4 class="editContent"
                                            style="outline: none; cursor: inherit;">
                                            Share:</h4>
                                        <ul class="w3layouts_social_list list-unstyled">
                                            <li>
                                                <a href="#" class="w3pvt_facebook editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_twitter editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_dribble editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </div>
                    <div class="row sub-para-w3layouts mt-5">

                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                            О фильме {{ movie.title }}</h3>
                       <p>
                          <div class="row">
                              {% for image in movie.movieshots_set.all %}
                                <div class="col-6 col-md-3 mb-4">
                                  <a href="{{ image.image.url }}" data-lightbox="movie-gallery" data-title="{{ image.description }}">
                                    <img src="{{ image.image.url }}" class="img-fluid img-thumbnail" alt="{{ image.description }}">
                                  </a>
                                </div>
                              {% endfor %}
                            </div>
                        </p>
                        <p class="editContent" style="outline: none; cursor: inherit;">{{ movie.description|safe }}</p>
{#                        <p class="mt-3 italic-blue editContent"#}
{#                           style="outline: none; cursor: inherit;">#}
{#                            <iframe width="560" height="315"#}
{#                                    src="https://www.youtube.com/embed/A36LahZNUiE?controls=0"#}
{#                                    frameborder="0" allow="accelerometer; autoplay;#}
{#                                                                           encrypted-media; gyroscope; picture-in-picture"#}
{#                                    allowfullscreen>#}
{##}
{#                            </iframe>#}
{#                        </p>#}

                    </div>
                    <hr>
                    <div class="row">
                        <div class="single-form-left">
                            <!-- contact form grid -->
                            <div class="contact-single">
                                <h3 class="editContent">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;">{{ movie.reviews_set.count}}</span>Залишити вiдгук</h3>
                                <form action="{% url 'add_review' movie.id %}" method="post" class="mt-4" id="formReview">
                                    {% csrf_token %}
                                    <input type="hidden" name="parent" id="contactparent" value="">
                                    <div class="form-group editContent">
                                        <label for="contactcomment" class="editContent">
                                            Ваш комментар *
                                        </label>
                                        {{ form.text }}
                                    </div>
                                    <div class="d-sm-flex">
                                        <div class="col-sm-6 form-group p-0 editContent">
                                            <label for="contactusername" class="editContent">
                                                Iм'я *
                                            </label>
                                            {{ form.name }}
                                        </div>
                                        <div class="col-sm-6 form-group ml-sm-3 editContent">
                                            <label for="contactemail" class="editContent">
                                                Email *
                                            </label>
                                            {{ form.email }}
                                        </div>
                                        {{ form.captcha }}
                                    </div>
                                    <button type="submit"
                                            class="mt-3 btn btn-success btn-block py-3">Вiдправити
                                    </button>
                                </form>
                            </div>
                            <!--  //contact form grid ends here -->
                        </div>
                        {% for review in movie.get_reviews %}
                        <div class="media py-5">
                            <img src="{% static 'images/te2.jpg' %} " class="mr-3 img-fluid" alt="image">
                            <div class="media-body mt-4">
                                <h5 class="mt-0 editContent">
                                    {{ review.name}}
                                </h5>
                                <p class="mt-2 editContent" >
                                    {{ review.text}}
                                </p>
                                <a href="#formReview" onclick="addReview('{{ review.name }}', '{{ review.id }}')">Вiдповiсти</a>
                                {% for rew in review.reviews_set.all %}
                                <div class="media mt-5 editContent">
                                    <a class="pr-3" href="#">
                                        <img src="{% static 'images/te1.jpg' %}" class="img-fluid "
                                             alt="image" >
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 editContent">
                                            {{ rew.name }}
                                        </h5>
                                        <p class="mt-2 editContent">
                                            {{ rew.text }}
                                        </p>
                                    </div>
                                </div>
                                    {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    <script>
    function addReview(name, id)
    {
        document.getElementById('contactparent').value = id;
        document.getElementById('contactcomment').innerText = `${name}, `
    }
    </script>
{% endblock %}
