{% extends 'movies/block/base.html' %}
{% block titleText %}Головна{% endblock %}
<!-- mian-content -->

                {% block content %}
                    <!-- product right -->
                    <div class="left-ads-display col-lg-9">
                        <div class="row">
                            {% for movie in movie_list %}
                            <div class="col-md-3 product-men">
                                <div class="product-shoe-info editContent text-center mt-lg-2 h-100" >
                                    <div class="men-thumb-item">
                                        <img src="{{ movie.poster.url }}" class="img-fluid rounded-start" alt="" >
                                    </div>
                                    <div class="item-info-product">
                                        <h4 class="">
                                            <a href="{{ movie.get_absolute_url }}" class="editContent" >{{ movie.title }}</a>
                                        </h4>

                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money editContent" >«{{movie.tagline}}»</span>
                                            </div>
                                        </div>

                                     <ul class="stars">
                                        {% for i in stars_range %}
                                            {% if i <= movie.average_rating %}
                                                <li><span class="fa fa-star" aria-hidden="true"></span></li>
                                            {% else %}
                                                <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="grid-img-right mt-4 text-right bg bg1" >

                            {% include 'movies/block/pagination.html' %}
                        </div>
                    </div>

                {% endblock %}

