<!DOCTYPE html>
{% load static recaptcha3 %}
<html lang="ru">
<head>
    <title>{% block titleText %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'movies/block/head.html' %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
</head>

<body>
    <div id="page" class="page">
     <div class="main-banner bg {% block bannerimg %}{% endblock %}" id="home" >
        {% include 'movies/block/mainBanner.html' %}
     </div>

        <ol class="breadcrumb editContent">
            <li class="breadcrumb-item">
                <a href="index.html" class="editContent">Home</a>
            </li>
            <li class="breadcrumb-item active editContent">Single Page</li>
        </ol>

        <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
        {% block container %}
            <div class="container-fluid py-md-3">
        {% endblock %}
                <div class="row">
                      {% block sidebar %}
                     <div class="side-bar col-lg-3">
                      {% endblock %}
                    {% include 'movies/block/sidebar.html' %}
                     </div>
        {% block content %}
        {% endblock %}
                </div>
            </div>
        </section>
    </div>
{% include 'movies/block/footer.html' %}
{#    <script src="{% static 'js/script.js' %}"></script>#}
{#    <script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>#}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<script>

    const rating = document.querySelector('form[name=rating]');

rating.addEventListener("change", function(event){
    let data = new FormData(this);
    fetch(`${this.action}`,{
        method: "POST",
        body: data
    })
        .then(response => alert('Рейтинг встановлено'))
        .catch(error => alert('Помилка'))
})
{#   $(document).ready(function () {#}
{#    $('.rating input').hover(#}
{#        function () {#}
{#            $(this).prevAll('label').andSelf().css('background-image', 'url({% static 'images/star-on-big.png' %})');#}
{#            $(this).nextAll('label').css('background-image', 'url({% static 'images/star-off-big.png' %})');#}
{#        },#}
{#        function () {#}
{#            $('.rating input').prevAll('label').andSelf().css('background-image', '');#}
{#        }#}
{#    );#}
{##}
{#    // Удалите этот обработчик click#}
{#    // $('.rating input').click(function(){#}
{#    //     $('form[name="rating"]').submit();#}
{#    // });#}
{##}
{#    const rating = document.querySelector('form[name=rating]');#}
{##}
{#    rating.addEventListener("change", function (event) {#}
{#        let data = new FormData(this);#}
{#        fetch(`${this.action}`, {#}
{#            method: "POST",#}
{#            body: data#}
{#        })#}
{#            .then(response => alert('Рейтинг встановлено'))#}
{#            .catch(error => alert('Помилка'))#}
{#    });#}



</script>


{#<script>#}
{#  $(document).ready(function () {#}
{##}
{#    $('[data-lightbox="movie-gallery"]').ekkoLightbox();#}
{#  });#}
{#</script>#}

</body>
</html>