     {% load contact_tags %}   <!-- footer -->
        <footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-4 footer-grid_section_w3layouts">
                        <h2 class="logo-2 mb-lg-4 mb-3">
                            <a href="index.html" class="editContent">
                                <span class="fa" aria-hidden="true" >
                                    IT step Academy
                                </span>
                            </a>
                        </h2>
                        <p class="editContent" >
                            Щось типу проект
                        </p>
                        <h4 class="sub-con-fo ad-info my-4 editContent" >Catch on Social</h4>
                        <ul class="w3layouts_social_list media-soc list-unstyled">
                            <li>
                                <a href="#" class="w3pvt_facebook editContent" >
                                    <span class="fa fa-facebook-f" ></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="w3pvt_twitter editContent" >
                                    <span class="fa fa-twitter" ></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="w3pvt_dribble editContent" >
                                    <span class="fa fa-dribbble" ></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-8 footer-right">
                        <div class="w3layouts-news-letter">
                            {% contact_form %}
                        </div>


                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <div class="cpy-right py-3">
            <div class="container">
                <div class="row">
                    <p class="col-md-10 text-left">© 2023 Denis V.Ryzhkov. All rights reserved
                    </p>
                    <!-- move top icon -->
                    <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
                    <!-- //move top icon -->
                </div>
            </div>
        </div>
     </div>