{% load movie_tags %}
            <header class="header">
                <div class="container-fluid px-lg-5">
                    <!-- nav -->
                    <nav class="py-4">
                        <div id="logo">
                            <h1> <a href="{% url 'home' %}" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">Simple Movie</a></h1>
                        </div>

                        <label for="drop" class="toggle">Меню</label>
                        <input type="checkbox" id="drop">
                        <ul class="menu mt-2">
                            <li class="active"><a href="{% url 'home' %}">Головна</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">Категорії <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                                <a href="#">Категорії <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2">
                                <ul>
                                {% get_categories as categories %}
                                    {% for category in categories %}
                                    <li><a href="/">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                {% if user.is_authenticated %}
                                    <span style="color: rgb(255, 255, 255); font-weight: 500;">Привiт: {{ user.username }}</span>
                                     {% if user.is_staff %}
                                        <!-- Это админ, добавьте ссылку на админ-панель -->
                                        <a href="{% url 'admin:index' %}">Адмін-панель</a>
                                    {% endif %}
                                    <a href="{% url 'account_logout' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                                        Вийти
                                    </a>
                                    {% else %}
                                    <a href="{% url 'account_login' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                                        Увiйти
                                    </a>
                                    <a href="{% url 'account_signup' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                                        Зареєструватися
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </header>
            <!-- //header -->
            <!--/banner-->
            <div class="banner-info">
                <p class="mb-4 editContent" >IT step Academy</p>
                <h3 class="mb-4 editContent">типу проект</h3>
                <div class="ban-buttons">


                </div>
            </div>


